*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height:100vh ;
    background:linear-gradient(180deg,#153677,#4e085f);
    padding: 1rem;
}
.todo{
    width: 100%;
    max-width: 35rem;
    background-color: white ;
    margin: 6rem auto 1.5rem;
    padding: 2.5rem 1.9rem 4.5rem;
    border-radius: 1rem;
}
.todo h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;

}
.todo h2 img{
    width: 2rem;
    margin-left: 1rem;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 2rem;
    padding-left: 1.2rem;
    margin-bottom: 1.6rem;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-size:1rem ;
}
button{
    border: none;
    outline: none;
    padding: 1rem 3rem;
    background: #ff5945;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2.5rem;
}

ul li{
    position: relative;
    list-style: none;
    font-size: 1.08rem;
    padding: 0.9rem 0.5rem 0.8rem 3.1rem;
    cursor: pointer;
    user-select: none;
}
ul li::before{
    content: '';
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.8rem;
    left: 0.5rem ;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 0.3rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    color: #555;
    line-height:2.5rem ;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}